body
{
	margin: 0;
	padding: 0;
	background-color: #806c00;
}
.center
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 550px;
	background-color: violet;
	border-radius: 8px;

}

.center h1

{
	text-align: center;
	padding-bottom: 40px;
	border-bottom: 2px solid purple;

}

.form

{
	padding-bottom: 20px;
	margin: 0 40px;
}

.textfield, textarea
{
	width: 100%;
	height: 40px;
	font-size: 18px;
	border: 2px	solid #806c00;
	border-radius: 5px;
	box-sizing: border-box;
	padding-left: 10px;
	margin: 7px 0;
}

textarea
{
	height: 80px;
}

.btn
{
	width: 18%;
	height: 40px;
	background-color: grey;
	border-radius: 5px;
	font-size: 20px;
	color: antiquewhite;
	cursor: pointer;
	border: 0;
	margin: 7px 3px;
}